@charset "utf-8";

@import "compass";
@import "compass/reset";


/* global set */

$shadow-p: 0 2px 3px #8f5fe9;
$shadow-p50: 0 1px 3px rgba(143,95,233,0.7);
$color:#ffffff;
$color-p:#af77ff;
$color-op:#ffe2ff;

@mixin psedo{
  content:"";
  display: block;
}

@mixin opa-50 {
    background: rgba(255,255,255,0.5);
}

@mixin opa-80 {
  background: rgba(255,255,255,0.8);
}

/* button set */

@mixin btn-set {
  display: block;
  color: $color;
  width:86%;
  margin:10px 4%;
  border:none;
  padding:3%;
}

@mixin btn-text{
  @include btn-set;
  @include opa-50;
  box-shadow: $shadow-p;
  -webkit-appearance: none;
}

@mixin btn-sub {
  background: $color;
  @include opa-80;
  letter-spacing: 0.7em;
  color: $color-p;
  width: 90%;
  margin:10px 5%;
  padding:5px 2%;
  border:medium none;
  @include border-radius(3px);
  -webkit-appearance: none;
}

/* defalut */

html,body{
  background: url(../img/bg.png) 0 0 no-repeat;
  background-size: cover;
  font-family:"Helvetica Neue Light","HiraginoKakuGo ProN",sans-serif;
  height: 100%;
  width: 100%;
  color:$color;
}

/* module */

.pages{
  header{
    @include opa-50;
    width: 100%;
    box-shadow: $shadow-p;

    img{
      display: block;
      width: 30%;
      margin:0 auto;
      padding:3% 0;
    }
  }
}

/* index */
.index{
  position: relative;
  h1{
    img{
      display: block;
      width:50%;
      margin:auto;
      padding-top:50%;
    }
  }
  footer{
    display: block;
    width: 100%;
    position:absolute;
    bottom: 20px;
    p{
      font-size: 12px;
      text-align: center;
      width: 100%;
    }
  }
}

/* search */

.search{
  input[type="text"]{
    @include btn-text;
  }
  input::-webkit-input-placeholder{
    color:$color-op;
  }
  input:-moz-placeholder{
    color:$color-op;
  }
  input:-ms-input-placeholder{
    color:$color-op;
  }
  input[type="submit"]{
    @include btn-sub;
    margin-top: 5px;
  }
  form{
    width: 100%;
    margin-top:40px;
    position: relative;
  }
  form:before{
    @include psedo;
    background: url(../img/search.png) no-repeat;
    background-size: contain;
    width:160px;
    height:150px;
    margin:0 auto;
    position:absolute;
    top:120px;
    left:26%;
  }
  form:after{
    @include psedo;
    content:"search Girlmics";
    font-size: 18px;
    text-align: center;
    width:100%;
    @include opacity(0.5);
    position: absolute;
    top:300px;
  }
}

/* result */

.result{
  input[type="text"]{
    @include btn-text;
  }
  li{
    padding-bottom:7px;
    img{
      width:20%;
      height:20%;
      margin:8px 0 0 5%;
      border:solid 2px rgba(255,255,255,0.5);
      @include border-radius(50%);
      box-shadow:$shadow-p;
    }
  }
  li.on{
    border-bottom:solid 2px #c879e2;
    box-shadow:$shadow-p50;
    position:relative;
    img{
      border:solid 2px rgba(255,255,255,1);
    }
    .share{
      display:block;
      width:40px;
      height:40px;
      position:absolute;
      bottom:0;
      right:0;
      img{
        width:25px;
        height:25px;
        border:medium none;
        border-radius:0;
        box-shadow:none;
      }
    }
  }
}